/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--main-font: raleway;
	--accent-font: IBM Plex Mono;
	--bg-color: #000028;
	--accent-color: #ff0070;
	--title-decor: #f1b2ce;
	--accent-heading-dark: #db00ff;
	--rec-color: #ff0070;
	--button-color: #ff007066;
	--head-text: #000028;
	--accent-title-color: #db00ff;
	--title-color: #000028;
	--accent-color-subtitle: #ff0070;
	--color-text: #f1b2ce;
	--shadow-color: #ff0070;
}
